run-title: Harlow_16
load-title: Harlow_15_1
seed: 1
device: cuda
save-path: /home/bkhmsi/Documents/Projects/lab/Meta-RL-Harlow/ckpt
log-path: /home/bkhmsi/Documents/Projects/lab/Meta-RL-Harlow/logs
save-interval: 100
resume: true
start-episode: 9600
optimizer: rmsprop # {rmsprop, adam}
train: true
test: true
mode: conv-stacked # {vanilla, stacked, conv-stacked}

task:
  imsize: 34
  max-length: 3600
  num-trials: 6

  num-actions: 3
  action-repeat: 4
  decision-per-trial: 3

  train-episodes: 100_000 
  test-episodes: 500

agent:
  mem-units: 256
  conv-nchannels: 128

  dict-len: 100_000
  dict-kernel: cosine

  n-workers: 2
  share-optim: true
  
  value-loss-weight: 0.4
  entropy-weight: 0.001
  max-grad-norm: 0.
  
  gae-lambda: 1.
  gamma: .91
  lr: 7.5e-4
  weight-decay: 0

  n-step-update: 80 #100 # lstm-unroll

